<div class="item-container">
  <img class="item-image" src="{{item.image}}">
  <div>
    <h2 class="item-title">{{item.title}}
      1-Year Rescue Service (STGX2000400)</h2>
    <div class="item-rating" [ngSwitch]="item.rating">
      <div *ngSwitchCase="5">⭐⭐⭐⭐⭐</div>
      <div *ngSwitchCase="4">⭐⭐⭐⭐</div>
      <div *ngSwitchCase="3">⭐⭐⭐</div>
      <div *ngSwitchCase="2">⭐⭐</div>
      <div *ngSwitchCase="1">⭐</div>
    </div>
    <div class="item-price">Price: <span>{{item.price}}</span></div>
    <div  class="item-stock">In Stock: <span>{{item.qty}}</span></div>
    <div *ngIf="false" class="out-of-stock">Out of Stock</div>
    Add to Cart
    <div class="input-group mb-3 add-to-cart-ctrl">
      <button [disabled]="inCart === 0"  class="btn btn-outline-secondary" type="button" (click)="updateCart(false)">-</button>
      <input type="text" class="form-control" placeholder="" disabled [(ngModel)]="inCart">
      <button [disabled]="inCart === item.qty" class="btn btn-outline-secondary" type="button" (click)="updateCart(true)">+</button>
    </div>
  </div>
</div>
<div class="item-description">{{item.description??'No Description'}}
</div>
