<div>
  <img src="https://m.media-amazon.com/images/I/71+aeM5xpZL._AC_UY218_.jpg" alt="">
  <p>Donerton Gaming Headset, Over-Ear Gaming Headphones with Noise Canceling Mic, Stereo Bass Surround Sound,
    Soft Memory Earmuffs LED Light PS4 Gaming Headset Compatible with PC, Laptop, PS4, PS5, Red</p>
  <div>⭐⭐⭐⭐⭐</div>
  <div>$99</div>
  <div class="input-group mb-3">
    <button class="btn btn-outline-secondary" type="button" id="button-addon1">-</button>
    <input type="text" class="form-control" placeholder="">
    <button class="btn btn-outline-secondary" type="button" id="button-addon1">+</button>
  </div>
</div>
