<div class="cart-item">
  <img class="item-image" src="{{item.image}}">
  <p class="item-description">{{item.description}}</p>
  <div class="item-rating">⭐⭐⭐⭐⭐</div>
  <div class="item-price">{{item.price}}</div>
  <div class="item-stock ">In Stock: {{item.qty}}</div>
  Add to cart:
  <div class="input-group mb-3 item-stock-ctrls">
    <button class="btn btn-outline-secondary" type="button">-</button>
    <input type="text" class="form-control" placeholder="">
    <button class="btn btn-outline-secondary" type="button">+</button>
  </div>
</div>
